h1 {
    color: royalblue
}

h2 {
    color: gainsboro
}
h3 {
    color:yellowgreen

}
h4 {
    color:wheat

}
h5 {
    color: rgb(69, 233, 255)
}
p {
    color:rgb(72, 145, 255)
}
body {
    background: firebrick
}
ol {
    color: honeydew
}
ul {
    color: darkorchid
}

img { 
    width: 20%;
    height: 20%;
  
} 
